*
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #09161d;
}

.card
{
    position: relative;
    width: 320px;
    height: 450px;
    background: #122936;
    border-radius: 20px;
    overflow: visible;
    margin: 20px;
    box-shadow: 10px 10px 5px 5px #000000;
    transform-style: preserve-3d;
}

.card::before
{
    content: 'ZITECH';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    writing-mode: vertical-rl; 
    opacity: 0;
}

.card::after
{
    content: 'DEV';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    writing-mode: vertical-rl; 
    opacity: 0;
    transform: 0.5s;
}

.card:hover::before,
.card:hover::after
{
    opacity: 0.04;
}

.card .price
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
}

.card:hover .price
{
    top: 40px;
    opacity: 1;
}

.card .name,
.card .description
{
    position: absolute;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
}

.card .name
{
    text-transform: uppercase;
    top: 65%;
}

.card .description
{
    top: 72%;
}

.card:hover .name,
.card:hover .description
{
    opacity: 0;
    visibility: visible;
}

.card .button
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #2196f3;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.card:hover .button
{
    bottom: 30px;
    opacity: 1;
}

.card .circle
{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #2196f3;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,50px);
    z-index: 10;
    opacity: 1;
}

.card:hover .circle
{
    top: 50%;
}

.card .img
{
    position: absolute;
    top: 40%;
    left: 50%;
    max-width: 220px;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,100px);
    transition: 0.5s;
    z-index: 11;
}

.card:hover .img
{
    top: 50%;
    transform: translate3d(-50%,-50%,100px) rotate(15deg);
}